<% title("Email Templates") %>
<% subtitle("Administration tool to manage the content of your outbound emails.")%>

<div class="content-box"><!-- Start Content Box -->

	<div class="content-box-header" style="height: 20px;">
		<div class="clear"></div>
	</div> <!-- End .content-box-header -->

  <div class="content-box-content">
    
    <%= display_flash(flash) %>
  	
    <table>

  		<tbody>
  		  <% @mail_templates.each do |mail_template| %>
  				<tr>
  					<td><h5 style="padding-bottom: 0px;"><%= mail_template.name.titleize %></h5>
  					  <span class="small"><%= mail_template.description %></span></td>
  					<td class="icons">
  					  <%= link_to image_tag("icons/pencil.png", :title => "Edit", :alt => "Edit"), edit_mail_template_path(mail_template) %>
  					</td>
  				</tr>
  			<% end %>
  		</tbody>

  	</table>


  </div>

</div>