<div class="content-box-header" style="height: 20px;">
  <%= link_to_function "&nbsp;", "$(this).toggleClass('on'); $('#filters_bar').slideToggle(); $('#filters_button').slideToggle();", :id => "filters_toggle" %>
  <div class="clear"></div>
</div>
 
<div id="filters_bar" style="display: none;">
    <%- form_tag "/loans", :method => :get do -%>
      <ul>
        <% Loan.aasm_states.each do |state| %>
          <li>
            <input type="checkbox"  name="filters[<%= state.name %>]"  value="on"
            <% if filters.include? state.name.to_s %>
                     checked="checked"
                   <% end %>/>
                   <%= state.name.to_s.split("_").join(" ").titleize %>
          </li>
        <% end %>
      </ul>
      <div id="filters_button" style="float: right; display: none;">
        <input type="image" src="/images/btn-apply-filters.png" border="0" width="126" height="22" style="width: 126px; height: 22px;" />
      </div>
    <%- end -%>
    <div class="clear"></div>
</div>