<table id="worksheet">

  <thead>
    <tr>
      <th class="small" style="width:300px;">Name</th>
      <!--
      <th class="small" style="width:200px;">Col 2</th>
      <th class="small" style="width:180px;">Col 3</th>
      <th class="small" style="width:200px;">Col 4</th>
      -->
    </tr>

  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td style="width:300px;"><%= link_to(loan.customer.full_name, loan_path(loan)) %></td>
        <!--
        <td style="width:200px;"></td>
        <td style="width:180px;"></td>
        <td></td>
        -->
       </tr>
    <% end %>
  </tbody>
</table>
