input.chunky {
	width: 195px;
	font-size: 14px;
	line-height: 28px;
	padding: 2px;
	color: #aaa;
	margin: 3px;
}
input.submit_image {
	margin: 5px 20px 0px 0px;
}

div.form label {
	font-size: 12px;
	display: block;
	margin: 0px;
	padding: 0px;
}

div.form_field {
	float: left; 
	padding-right: 8px;
	margin-right: 2px;
}
div.error {
	background-color: #FFCFDA;
	padding: 2px 5px;
}
span.required {
	font-size: 11px;
	color: red;
}

div.form_left {
	width: 335px;
	float: left;
	padding: 2px 10px 0px 30px;
}
div.form_right {
	width: 335px;
	float: right;
	padding: 2px 10px 0px 10px;
}
div.form input {
	font-size: 14px;
	line-height: 28px;
	padding: 2px;
	margin: 3px 0px 8px 0px;
}
div.form select {
	font-size: 14px;
	line-height: 28px;
	padding: 2px;
	margin: 3px 0px 8px 0px;
}