.form_field {
    float:left;
}

fieldset.gray-border {
    line-height:1.6em;
    border:2px solid #dddddd;
    padding:0px 10px 10px 10px;
    margin-top:10px;
}

fieldset.gray-border legend {
    font-size: 18px;
    font-weight: bold;
    padding:0px 5px 0px 5px;
}

form label {
    margin: 0px 2px 0 0;
}


div.error {
    background-color: #FFCFDA;
    
    padding: 0px 2px 2px;
    margin:0 2px 2px;
    
}

