<td><span style="font-weight:bold">Principal:</span><%= number_to_currency(@scheduled_payment.principal) -%> </td>
<td><span style="font-weight:bold">Interest:</span><%= number_to_currency(@scheduled_payment.interest) -%></td>
<td><span style="font-weight:bold">Fees:</span><%= number_to_currency(@scheduled_payment.fees) -%></td>
<td style="text-align:right">Due: <%= @scheduled_payment.draft_date.to_s(:m_d_y) -%></td>
