<% title("Follow-Up") %>
<div class="content-box"><!-- Start Content Box -->



  <%# if current_user.role == "garnishments" %>
    <%#= render :partial => 'garnishment_states_filter',:locals=>{:filters=>@filters} %>
  <%# else  %>
  <div class="content-box-header" style="height: 20px;"></div>
  <%# end %>


  <div class="content-box-content">



    <%= display_flash(flash) %>


    <table id="worksheet">

      <thead>
        <tr>
          <th class="small" style="width:300px;">Name</th>
          <th class="small" style="width:100px">Remarks</th>
        </tr>

      </thead>

      <tbody>
        <% @loans.each do |loan| %>
          <tr>
            <td style="width:300px;"><%= link_to(loan.customer.full_name, loan_path(:id => loan.id)) -%></td>
            <td style="width:100px"><%= garnishment_sub_status_display(loan) -%></td>
           </tr>
        <% end %>
      </tbody>
    </table>
    <table>

      <tfoot>
        <tr>
          <td colspan="3">
            <%= will_paginate @loans %>
            <div class="clear"></div>
          </td>
        </tr>
      </tfoot>


    </table>
  </div>

</div>