<div class="comment_container">
  <div class="comment_header">
    <div class="gravatar"><%= gravatar_for(log.user, :size => 35) %></div>
    <div class="author"><%= log.user.full_name %></div>
    <div class="datetime"><%= distance_of_time_in_words_to_now(log.created_at) %> ago</div>
    <div class="clear"></div>
  </div>
  <div class="comment_body">
    <%= h log.message %>
  </div>
</div>